/* src/App.css */
.stopwatch {
  position: absolute;
  left: 10px;
  font-family: "Times New Roman", Times, serif;
}
/*
h1 {
  font-size: 48px;
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}*/
